.hey-meals-dd{
  display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}

.hey-background{
  background-color: var(--bg);
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.welcome-user{
  font-size: 1.95em;
  color: var(--r);
  text-align: center;
  padding: 25px 0px;
}

.welcome-userr{
  font-size: 1.4em;
  color: var(--r);
  text-align: center;
  padding: 25px 0px;
}

.stat-tracked{
  
}

.stat-untracked{

}

.both-stats{
  display: flex;
  
}

.stat-colors{
  color: var(--ws)
}

.triggers{
  padding: 5px;
  display: flex;
  gap: 8px;
}

.new-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .counter-component{
    height: 400px;
    width: 400px;
    border: 2px dashed var(--p);
    text-align: center;
} */

.next-meal{

}

.counter{
    
}

p{
  padding: 0;
  margin: 0;
}

.log-butt{
  margin-top: 13px;
  width: max-content;
  height: max-content;
  padding: 1px 5px;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-name{
  padding-top: 3px;
  font-size: 2em;
  color: var(--ws);
  font-family: 'sansita extrabold';
}

.header-img{
  height: 55px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--trans);
  max-width: 290px;
  /* text-align: center; */
  margin: 0px auto;
  border-radius: 5px 5px 0px 0px;
}

nav a {
  
  padding: 8px 7px;
  color: var(--ws);
  /* background-color: var(--trans); */
  text-decoration: none;
  /* transition-property: border color;
  transition-duration: 1s; */
}

.hey-span{
  display: flex;
  justify-content: center;
  width: 100%;
}

.meals-span{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--dr);
  border-radius: 0px 3px 0px 0px;
  
}

.path-meal-span{
  width: 200%;
}

.path-hey-span{
  width: 100%;
}

.counter-container{
  display: flex;
  background-color: var(--trans);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: var(--p);
  margin: 0px auto;
  max-width: 290px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
  /* border: 1px dashed var(--p); */
}

.daily-stats{
  color: var(--ws);
  text-decoration: underline 1px;
  padding-top: 10px;
}

  .shrink-mit{

  }

  .stat-info{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .daily-dub-container{
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25%; */
  text-align: center;
  background-image: url(./images/DDBCKT.png);
  filter: drop-shadow(4px 4px 1px var(--dr));
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  max-width: 335px;
  border-radius: 3px;
  }

  .ateit-butt{
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    background-color: whitesmoke;
    color: var(--r);
    filter: drop-shadow(4px 4px 1px var(--lr));
    border-radius: 5px;
  }

