

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--p);
    /* border: 1px dashed var(--p); */
}

.hey-meals-dd{
  display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}

.hey-background{
  background-color: var(--bg);
  background-image: url(./images/heyBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.welcome-user{
  font-size: 1.95em;
  color: var(--r);
  text-align: center;
  padding-top:35px;
}

.stat-tracked{
  
}

.stat-untracked{

}

.both-stats{
  display: flex;
  
}

.stat-colors{
  color: var(--ws)
}

.triggers{
  padding: 5px;
  display: flex;
  gap: 8px;
}

.new-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .counter-component{
    height: 400px;
    width: 400px;
    border: 2px dashed var(--p);
    text-align: center;
} */

.next-meal{

}

.counter{
    
}

p{
  padding: 0;
  margin: 0;
}

.log-butt{
  margin-top: 13px;
  width: max-content;
  height: max-content;
  padding: 1px 5px;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-right:7px;
}

.header-name{
  padding-top:1px;
  font-size: 2em;
  margin-bottom: -4px;
  color: var(--ws);
  font-family: 'sansita extrabold';
}

.header-img{
  height: 55px;
  margin: 0;
  padding: 0;
}

nav {
    display: flex;
  justify-content: center;
}

nav a {
    margin: 0px 8px;
    margin-top: 0px;
    padding: 0px;
    color: var(--p);
    text-decoration: none ;
    transition-property: border color;
    transition-duration: 1s;
  }

  .stat-info{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .daily-dub-container{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%; */
    text-align: center;
    border: var(--lg) dashed 3px;
    border-radius: 5%;
    padding: 5%;
  }

  .create-meal-name{
    padding: 20px;
    font-size: 1.5em;
  }
