

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--p);
    border: 1px dashed var(--p);
}

.hey-meals {
  display: flex;
  justify-content: center;
}

.new-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .counter-component{
    height: 400px;
    width: 400px;
    border: 2px dashed var(--p);
    text-align: center;
} */

.next-meal{

}

.counter{
    
}

nav {
    display: flex;
  justify-content: center;
}

nav a {
    margin: 0px 8px;
    margin-top: 0px;
    padding: 0px;
    color: var(--p);
    text-decoration: none ;
    transition-property: border color;
    transition-duration: 1s;
  }

  .stat-info{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
