:root {
  --bg: #2f4454;
  --m: #2e151b;
  --p: #da7b93;
  --lg: #376E6f;
  --dg: #1C3334;
  --ws: #F5F5F5;
  --w: #EDEDED;
  --r: #FE534E;
  --lr: #BC716F;
  --font: 1rem Sansita;
}

*{
  margin: 0;
  padding:0;
}

html,
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--p);
    font-family: 'Sansita';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
  }



code {
  font-family: 'Inter', sans-serif;
  font-family: 'Sansita', sans-serif;
}

button {
  color: var(--ws);
  background-color: var(--lr);
  text-decoration: none;
  border: 1px;
  border-radius: 2px;
  font-family: 'Sansita';
  padding: 6px;
  width: 50%;
  filter: drop-shadow(4px 4px 1px #376E6F);
}

/* transition: color 1s ease, border 1s ease; SHORTHAND TRANSITION CODE
  &:hover,
  &:active{
    color: var(--m);
    border: dashed 5px var(--bg)
  } */

/* button:hover {

} */
/* .app{
  margin: 0 auto;
  
} */
.intro-name {
  /* font-size: clamp(3rem, 1rem + 5vw, 7rem); */
  font-size: 2.8em;
  margin-bottom: 1px;
}
.auth-container{
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
  color: var(--w);
  font: var(--font);
  
  /* box-shadow: 2px 2px 1px var(--p);
  border-radius: 20px; */
}

.yom-img{
  width: 30%;
  height: 50%;
}

.mmt{
  color: var(--r);
  margin-top: 1px;
  font: var(--font);
  font-style: none;
  font-size: 1.6em;
}

.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.auth-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

input{
  background-color: #D9D9D9;
  border: solid 1px;
  border-radius: 2px;
  padding: 5px;
  font: var(--w);
  font-size: .9em;
}


/* .auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  max-width: 400px;
  border: 1px dashed var(--p);
  border-radius: 20px;
  text-align: center;
  
} */